<form name="form" role="form" class="form-horizontal">
  <div class="form-group">
    <label for="career" class="col-sm-2 control-label"> Carrera</label>
    <div class="col-sm-10">
      <input id="career" class="form-control" name="career" list="careers"
             ng-model="data.career" required>
      <datalist id="careers">
        <option value="Ciencia de la Computación">
        <option value="Administración de Negocios">
        <option value="Contabilidad">
        <option value="Derecho">
        <option value="Educación">
        <option value="Ingeniería Civil">
        <option
            value="Ingeniería Electrónica y de Telecomunicaciones">
        <option value="Ingeniería Industrial">
        <option value="Ingeniería Informática">
        <option value="Ingeniería de Telecomunicaciones">
        <option value="Psicología">
      </datalist>
    </div>
  </div>
  <div class="form-group">
    <label for="title" class="col-sm-2 control-label"> Título del trabajo </label>
    <div class="col-sm-10">
      <input id="title" class="form-control" name="title" ng-model="data.title" required>
    </div>
  </div>

  <div class="form-group">
    <label for="course" class="col-sm-2 control-label"> Curso </label>
    <div class="col-sm-10">
      <input id="course" class="form-control" name="course" ng-model="data.course" required>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label"> Tipo </label>
    <div class="col-sm-10">
      <label class="radio-inline">
        <input type="radio" name="cat" value="inmasc" ng-model="data.cat"> Individual (Masc.)
      </label>
      <label class="radio-inline">
        <input type="radio" name="cat" value="infem" ng-model="data.cat"> Individual (Fem.)
      </label>
      <label class="radio-inline">
        <input type="radio" name="cat" value="grupal" ng-model="data.cat"> Grupal
      </label>
    </div>
  </div>

  <div class="form-group" ng-show="data.cat !== 'grupal'">
    <label for="name_ind" class="col-sm-2 control-label">
      Nombre </label>
    <div class="col-sm-10">
      <input id="name_ind" class="form-control" name="name" ng-model="data.name" required>
    </div>
  </div>
  <div class="form-group has-feedback" ng-show="data.cat === 'grupal'" ng-repeat="item in names">
    <label for="name_1" class="col-sm-2 control-label" ng-show="showNamesLabel(item)">
      Nombres </label>
    <div class="col-sm-10" ng-class="{ 'col-sm-push-2': !showNamesLabel(item) }">
      <div class="input-group">
        <input id="name_{{item.id}}" class="form-control" ng-model="item.name"
               ng-change="addNewNameBox(item)">
        <span class="input-group-addon glyphicon glyphicon-remove erase-non-clickable"
              ng-class="{ 'erase-clickable': item.name !== '' }"
              ng-click="removeNameBox(item)"></span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label"> Semestre </label>
    <div class="col-sm-10">
      <label class="radio-inline">
        <input type="radio" name="sem" value="1er" ng-model="data.sem"> 1er
      </label>
      <label class="radio-inline">
        <input type="radio" name="sem" value="2do" ng-model="data.sem"> 2do
      </label>
      <label class="radio-inline">
        <input type="radio" name="sem" value="3er" ng-model="data.sem"> 3er
      </label>
      <label class="radio-inline">
        <input type="radio" name="sem" value="4to" ng-model="data.sem"> 4to
      </label>
      <label class="radio-inline">
        <input type="radio" name="sem" value="5to" ng-model="data.sem"> 5to
      </label>
      <label class="radio-inline">
        <input type="radio" name="sem" value="6to" ng-model="data.sem"> 6to
      </label>
      <label class="radio-inline">
        <input type="radio" name="sem" value="7mo" ng-model="data.sem"> 7mo
      </label>
      <label class="radio-inline">
        <input type="radio" name="sem" value="8vo" ng-model="data.sem"> 8vo
      </label>
      <label class="radio-inline">
        <input type="radio" name="sem" value="9no" ng-model="data.sem"> 9no
      </label>
      <label class="radio-inline">
        <input type="radio" name="sem" value="10mo" ng-model="data.sem"> 10mo
      </label>
      <label class="radio-inline">
        <input type="radio" name="sem" value="11er" ng-model="data.sem"> 11er
      </label>
      <label class="radio-inline">
        <input type="radio" name="sem" value="12do" ng-model="data.sem"> 12do
      </label>
    </div>
  </div>
  <input type="hidden" name="tex" value="{{ data.tex }}">
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-primary" ng-click="run(false)">
        <i class="glyphicon glyphicon-file"></i> Generar
      </button>
      <button class="btn btn-default" ng-click="run(true)">
        <i class="glyphicon glyphicon-console"></i> Ver Latex
      </button>
      <img src="loader.gif" ng-show="loading">
      <span ng-show="url" class="pull-right">
        <i class="glyphicon glyphicon-paperclip"></i>
        <a href="{{ url }}">{{ url }}</a>
      </span>
    </div>
  </div>
</form>
