body {
    padding-top: 10px;
    margin: auto;
}
.input-group-addon {
    color: #777;
}
.erase-clickable {
    color: #d9534f !important;
    cursor: pointer;
}
.error-msg {
    color: #d9534f;
}
pre {
    max-height: 350px;
    overflow: auto;
}
.modal-icon {
    color: #ccc;
    font-size: 6em;
    text-align: center;
}
