body {
    padding-top: 10px;
    margin: auto;
}
.erase-non-clickable {
    cursor: default;
    color: #777;
}
.erase-clickable {
    cursor: pointer;
    color: #d9534f;
}
.error-msg {
    color: #d9534f;
}
pre {
    max-height: 350px;
    overflow: auto;
}