<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Generador de Carátulas | UCSP ACM Student Chapter</title>

    <link href="{{ app.request.basepath }}/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
      body {
        padding-top: 10px; 
        margin: auto;
      }
      .v-center {
        display: table-cell;
        vertical-align: middle;
      }
    </style>
  </head>
  <body>

    <div class="container">
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">UCSP ACM</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Generador de Carátulas</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div> 


      <div class="row">
        <div class="col-sm-4 text-center col-sm-push-8">
          <a href="http://fb.com/ACMUCSP"><img width="200px" src="{{ app.request.basepath }}/logo.png"></a>
        </div>
        <div class="col-sm-8 col-sm-pull-4">
          <form action="{{ path('caratula') }}" method="POST" role="form">
            <div class="form-group">
              <label for="career"> Carrera</label>
              <input id="career" class="form-control" name="career" list="careers">
              <datalist id="careers">
                <option value="Ciencia de la Computación">
                <option value="Administración de Negocios">
                <option value="Contabilidad">
                <option value="Derecho">
                <option value="Educación">
                <option value="Ingeniería Civil">
                <option
                  value="Ingeniería Electrónica y de Telecomunicaciones">
                <option value="Ingeniería Industrial">
                <option value="Ingeniería Informática">
                <option value="Ingeniería de Telecomunicaciones">
                <option value="Psicología">
              </datalist>
            </div>
            <div class="form-group">
              <label for="title"> Título del trabajo </label>
              <input id="title" class="form-control" name="title">
            </div>
            
            <div class="form-group">
              <label for="course"> Curso </label>
              <input id="course" class="form-control" name="course">
            </div>

            <div class="form-group">
              <label for="name">
                Nombre </label>
              (separar con <em>slash</em> para carátula grupal)
              <input id="name" class="form-control" name="name">
            </div>
            <div class="form-group">
              <label for="sem"> Semestre </label>
              <select id="sem" class="form-control" name="sem">
                <option> 1er </option>
                <option> 2do </option>
                <option> 3er </option>
                <option> 4to </option>
                <option> 5to </option>
                <option> 6to </option>
                <option> 7mo </option>
                <option> 8vo </option>
                <option> 9no </option>
                <option> 10mo </option>
                <option> 11er </option>
                <option> 12do </option>
              </select>
            </div>
            <div class="form-group">
              <label for="cat"> Categoría </label>
              <select id="cat" class="form-control" name="cat">
                <option value="El alumno declara">
                  Individual (Masc.) </option>
                <option value="La alumna declara">
                  Individual (Fem.) </option>
                <option value="Los alumnos declaran">
                  Grupal </option>
              </select>
            </div>
            <input type="submit" class="btn btn-default" value="Generar Carátula">
            <input type="submit" class="btn btn-default" name="tex" value="Obtener código Latex">
          </form>
        </div>
      </div>

      <hr class="featurette-divider">
      <footer>
        Creado por Aldo Culquicondor<br>
        © 2014, <a href="http://fb.com/ACMUCSP">Capítulo Estudiantil ACM UCSP</a>
      </footer>
    </div>

    <script src="{{ app.request.basepath }}/js/jquery.min.js"></script>
    <script src="{{ app.request.basepath }}/js/bootstrap.min.js"></script>
  </body>
</html>
