<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Generador de Carátulas | UCSP ACM Student Chapter</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/main.css">

  </head>
  <body>

    <div class="container">
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Generador de Carátulas UCSP</a>
          </div>
        </div><!--/.container-fluid -->
      </div> 


      <div class="row">
        <div class="col-sm-3 text-center col-sm-push-9">
          <a href="http://fb.com/ACMUCSP"><img width="200px" src="{{ app.request.basepath }}/logo.png"></a>
        </div>
        <div class="col-sm-9 col-sm-pull-3">
          <form action="{{ path('caratula') }}" method="POST" role="form" class="form-horizontal">
            <div class="form-group">
              <label for="career" class="col-sm-2 control-label"> Carrera</label>
              <div class="col-sm-10">
                <input id="career" class="form-control" name="career" list="careers">
                <datalist id="careers">
                  <option value="Ciencia de la Computación">
                  <option value="Administración de Negocios">
                  <option value="Contabilidad">
                  <option value="Derecho">
                  <option value="Educación">
                  <option value="Ingeniería Civil">
                  <option
                    value="Ingeniería Electrónica y de Telecomunicaciones">
                  <option value="Ingeniería Industrial">
                  <option value="Ingeniería Informática">
                  <option value="Ingeniería de Telecomunicaciones">
                  <option value="Psicología">
                </datalist>
              </div>
            </div>
            <div class="form-group">
              <label for="title" class="col-sm-2 control-label"> Título del trabajo </label>
              <div class="col-sm-10">
                <input id="title" class="form-control" name="title">
              </div>
            </div>
            
            <div class="form-group">
              <label for="course" class="col-sm-2 control-label"> Curso </label>
              <div class="col-sm-10">
                <input id="course" class="form-control" name="course">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label"> Tipo </label>
              <div class="col-sm-10">
                <label class="radio-inline">
                  <input type="radio" name="cat" value="El alumno declara" checked> Individual (Masc.)
                </label>
                <label class="radio-inline">
                  <input type="radio" name="cat" value="La alumna declara"> Individual (Fem.)
                </label>
                <label class="radio-inline">
                  <input type="radio" name="cat" value="Los alumnos declaran"> Grupal
                </label>
              </div>
            </div>

            <div class="form-group">
              <label for="name" class="col-sm-2 control-label">
                Nombre </label>
              <div class="col-sm-10">
                <input id="name" class="form-control" name="name">
              </div>
            </div>
            <div class="form-group">
              <label for="sem" class="col-sm-2 control-label"> Semestre </label>
              <div class="col-sm-10">
                <label class="radio-inline">
                  <input type="radio" name="sem" value="1er" checked> 1er
                </label>
                <label class="radio-inline">
                  <input type="radio" name="sem" value="2do"> 2do
                </label>
                <label class="radio-inline">
                  <input type="radio" name="sem" value="3er"> 3er
                </label>
                <label class="radio-inline">
                  <input type="radio" name="sem" value="4to"> 4to
                </label>
                <label class="radio-inline">
                  <input type="radio" name="sem" value="5to"> 5to
                </label>
                <label class="radio-inline">
                  <input type="radio" name="sem" value="6to"> 6to
                </label>
                <label class="radio-inline">
                  <input type="radio" name="sem" value="7mo"> 7mo
                </label>
                <label class="radio-inline">
                  <input type="radio" name="sem" value="8vo"> 8vo
                </label>
                <label class="radio-inline">
                  <input type="radio" name="sem" value="9no"> 9no
                </label>
                <label class="radio-inline">
                  <input type="radio" name="sem" value="10mo"> 10mo
                </label>
                <label class="radio-inline">
                  <input type="radio" name="sem" value="11er"> 11er
                </label>
                <label class="radio-inline">
                  <input type="radio" name="sem" value="12do"> 12do
                </label>
              </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Generar Carátula">
            <input type="submit" class="btn btn-default" name="tex" value="Obtener código Latex">
          </form>
        </div>
      </div>

      <hr class="featurette-divider">
      <footer>
        Creado por Aldo Culquicondor<br>
        © 2014, <a href="http://fb.com/ACMUCSP">Capítulo Estudiantil ACM UCSP</a>
      </footer>
    </div>

    <script src="{{ app.request.basepath }}/js/main.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>
